body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}


#Atlas, #Clasper, #Norma {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
}

.robot-imgae{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
